:root {
    /* Colors */
    --red-color: red;
    --black-color: black;
    --green-color: green;

    /* Shadows */
    --dark-black-shadow: rgba(0,0,0,.8);

    /* Screen breakpoints*/
    --display-large: 800px;

    /* Colors */
    --es-color: rgb(241, 241, 9);
    --ea-color: rgb(104, 129, 68);
    --ea-dark-color: rgb(82, 103, 54);
    --ea-light-color: rgb(159, 192, 113);
    --white-color: white;
    --dark-black-color: black;
    --light-black-color: rgb(33, 33, 33);
    --grey-color: grey;
    --red-color: red;

    /* Fonts */
    --primary-font: 'Poppins', sans-serif;


    /*////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* Mobile variables */
    --mobile-NavBar-height: 14vh;
    --mobile-main-container-padding: 2vh 2vw;
    --mobile-h1-font-size: max(22px, 7vw);
    --mobile-h1-font-weight: 700;
    --mobile-h2-font-size: max(15px, 3vw);
    --mobile-h2-font-weight: 600;
    --mobile-h3-font-size: max(12px, 2.2vw);
    --mobile-h3-font-weight: 500;
    --mobile-p-font-size: max(11px, 1.7vw);
    --mobile-p-font-weight: 500;


    /*////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* Desk variables */
    --desk-NavBar-height: 90px;
    --desk-main-container-padding: 5vh 5vw;
    --desk-NavBar-font-size: min(15px, 2vw);
    --desk-h1-font-size: 38px;
    --desk-h1-font-weight: 700;
    --desk-h2-font-size: 30px;
    --desk-h2-font-weight: 600;
    --desk-h3-font-size: min(18px, 2.2vw);
    --desk-h3-font-weight: 500;
    --desk-p-font-size: min(12px, 2.5vw);
    --desk-p-font-weight: 400;
}