.global{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    text-align: center;
}
.div{
    position: absolute;
    box-sizing: border-box;
    padding-top: 10vh;
    font-size: 2rem;
    width: 50%;
    height: 50%;
    right: 25%;
    top: 25%;
    background-color: white;
    color: red;
    border-radius: 12px;
}
.button{
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 100ms ease;
    border: 1px solid white;
}
.button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.button:active{
    background-color: red;
}