@import '../../global.modules.css';

.form{
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/img2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    overflow-y: auto;
    background-color: yellow;
}
.container{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    background-color: rgba(0,0,0,.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
    padding: 0 5vw 10vh;

}
.divTitle{
    height: 25vh;
    border-bottom: 1px solid white;
    height: 16vmax;
    max-height: 80px;
    padding: 0 2vw 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.title{
    top: 0px;
    left: 30px;
    margin: 0;
    color: white;
    font-size: min(25px, var(--mobile-h2-font-size));
}
.buttonsDiv{
    width: calc(200px + 10vw);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    font-size: var(--mobile-p-font-size);
}
.submit{
    box-sizing: border-box;
    text-decoration: none;
    height: 8vh;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    transition: 100ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.submit:active{
    background-color: red;
}
.submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border: 2px solid gray;
}
.back{
    box-sizing: border-box;
    text-decoration: none;
    font-size: var(--mobile-p-font-size);
    height: 8vh;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 100ms ease;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.back:active{
    background-color: rgb(123, 12, 12);
}
.divUnder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
}
.divData{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.divItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    padding: 2vw 0;
}
.item{
    text-align: center;
    align-items: center;
    
    color: white;
    font-size: var(--mobile-p-font-size);
}
.input{
    box-sizing: border-box;
    outline: none;
    background: none;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,.5);
    border: 1px solid white;
    border-radius: 5px;
    font-size: var(--mobile-p-font-size);
    padding: 1vh 0;
}
.comment{
    text-align: left;
    width: 100%;
    color: white;
    overflow: hidden;
    margin: 0px;
    font-size: var(--mobile-p-font-size);
}
.commentError{
    text-align: left;
    padding-left: 8px;
    width: 100%;
    color: red;
    overflow: hidden;
    margin: 0px;
    font-size: var(--mobile-p-font-size);
}
.selectDiv{
    box-sizing: border-box;
    width: 100%;
    background-color: grey;
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
}
.selectLabel{
    color: white;
    display: block;
    margin-bottom: 10px;
}
.select{
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 90%;
    margin-bottom: 10px;
}
.divSelect{
    overflow-x: auto;
}
.message{
    width: 50%;
    height: 50%;
    right: 25%;
    top: 25%;
    background-color: black;
    color: white;
    border-radius: 12px;
    border: 1px solid white;
    z-index: 2;
}
@media screen and (min-width: 800px){
    .container{
        height: 100vh;
    }
    /* .div{
        position: relative;
        width: 90%;
        height: 95vh;
        top: 20px;
        left: 5vw;
        background-color: rgba(0,0,0,.8);
        border-radius: 15px;
        border: 1px solid white;
        padding: 0px 15px;
    } */
    .divTitle{
        height: 80px;
        /* border-bottom: 1px solid white;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center; */
    }
    .title{
        top: 0px;
        left: 30px;
        display:inline-block;
        color: white;
    }
    .submit{
        font-size: var(--desk-p-font-size);
    }
    .submit:hover{
        color: black;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
    }
    .submit:active{
        background-color: red;
    }
    .submit:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        border: 2px solid gray;
    }
    .back{
        font-size: var(--desk-p-font-size);
    }
    .back:hover{
        color: black;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
    }
    .back:active{
        background-color: rgb(123, 12, 12);
    }
    .divUnder{
        flex-direction: row;
        justify-content: space-between;
    }
    .divData{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 80%;
        width: 75%;
        border-radius: 20px;
        border: 1px solid white;
        padding: 0 1vw;
    }
    .divItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 66vw;
        overflow: hidden;
        padding: 10px;
        text-align: center;
        background-color: rgba(0,0,0,.7);
        border-radius: 8px;
    }
    .item{
        display: inline-block;
        text-align: left;
        align-items: center;
        height: 23px;
        width: 15%;
        color: white;
        font-size: var(--desk-h4-font-size);
    }
    .input{
        width: 30%;
        color: white;
        background-color: rgba(0,0,0,.5);
        font-size: var(--desk-p-font-size);
    }
    .comment{
        text-align: left;
        padding-left: 8px;
        /* height: 23px; */
        width: 50%;
        color: white;
        overflow: hidden;
        margin: 0px;
        font-size: var(--desk-p-font-size);
    }
    .commentError{
        text-align: left;
        padding-left: 8px;
        width: 50%;
        color: red;
        overflow: hidden;
        margin: 0px;
        font-size: var(--desk-p-font-size);
    }
    .selectDiv{
        width: 20%;
        min-height: 80%;
        right: 30px;
        background-color: rgba(0,0,0,.5);
        border-radius: 20px;
        border: 1px solid white;
        padding: 10px;
    }
    .selectLabel{
        color: white;
        display: block;
        margin-bottom: 10px;
    }
    .select{
        background-color: rgba(0,0,0,.5);
        color: white;
        width: 90%;
        height: 70px;
        margin-bottom: 10px;
    }
    .divSelect{
        overflow-x: auto;
        height: 270px;
    }
    .message{
        position: absolute;
        width: 50%;
        height: 50%;
        right: 25%;
        top: 25%;
        background-color: black;
        color: white;
        border-radius: 12px;
        border: 1px solid white;
        z-index: 2;
    }
}

