.cards{
    position:absolute;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    top: 100px;
    width: 55%;
    /* height: 90vh; */
    right: 0.5vw;
    color: white;
    /* background-color: blue; */
    overflow: hidden;
    overflow-y: scroll;
}
@media screen and (min-width: 800px) {
    .cards{
        position:absolute;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 15px 30px;
        top: 10vh;
        width: 81%;
        height: 90vh;
        right: 0.5vw;
        color: white;
    }   
}