.card{
    text-decoration: none;
    box-sizing: border-box;
    /* display:inline-block; */
    width: 19%;
    min-width: 120px;
    /* height: 30%; */
    border-radius: 12px;
    margin-top: 5px;
    background-color: rgba(0,0,0,.8);
    padding: 5px 0px;
    color: white;
    text-align: center;
    transition: 200ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover{
    box-shadow: 20px 20px 20px rgba(0,0,0,1);
    transform:scale(1.2);
    transform-origin: center;
    background-color: black;
    cursor: pointer;
}
.img{
    width: 56%;
    height: 42%;
    border-radius: 4px;
}
.name{
    font-size: 0.8rem;
    margin:0px;
    padding:0px;
}
.genres{
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
}




