.cards{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0 6vh;
    width: 55%;
    right: 0.5vw;
    color: white;
    gap:5px;
}
@media screen and (min-width: 800px) {
    .cards{
        position:absolute;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 30px;
        width: 75%;
        height: 86vh;
        right: 0.5vw;
        color: white;
    }   
}