.main{
    width: 100vw;
    height: 100vh;
    background: url(../../images/img1.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment:fixed;
    background-size:cover;
}