.main{
    width: 100vw;
    height: 100vh;
    background: url(../../images/img1.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment:fixed;
    background-size:cover;
}
.under{
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: blue;
    padding-top: 2vh;
}