.div{
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    width: 95%;
    height: 10vh;
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0,0,0,.7);
    border-radius: 15px;
    top: 1.5vh;
    left:2vw;
}
.title{
    margin:0px;
    left: 20px;
    top: 13px;
    color: white;
    width: 30%;
    height: 60%;
    font-size: 150%;
}
.pageDiv{
    box-sizing: border-box;
    width: 20%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.pageBut{
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    border: none;
    transition: 100ms ease;
}
.pageBut:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}.pageBut:active{
    background-color: rgb(123, 12, 12);
}
.page{
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    width: 30%;
    text-align: center;
    padding-top: 2.5px;
    color: white;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    /* border: 1px solid white; */
}
.rightDiv{
    box-sizing: border-box;
    width: 24%;
    height: 50px;
    right: 10px;
    top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.landing{
    text-decoration: none;
    display: inline-block;
    width: 30%;
    top: 10px;
    /* right: 238px; */
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    /* border: 1px solid white; */
    transition: 100ms ease;
}
.landing:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.landing:active{
    background-color: rgb(123, 12, 12);
}
.form{
    text-decoration: none;
    display: inline-block;
    /* position: absolute; */
    top: 10px;
    right: 30px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    /* border: 1px solid white; */
    transition: 100ms ease;
}
.form:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.form:active{
    background-color: rgb(123, 12, 12);
}
