@import '../../global.modules.css';

.home{
    position:absolute;
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    left: 0px;
    background: url(../../images/img1.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment:fixed;
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vh 0;
    /* overflow-y: scroll; */
}
.homeContainer{
    box-sizing: border-box;
    /* top: 5vh; */
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    /* left: 5vw; */
    color: white;
    padding: 4vw;
    background-color: rgba(0,0,0,.8);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:auto;
}
.homeTitle{
    width: 100%;
    top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(15px + 2vmin);
}
.homeText{
    width: 100%;
    font-size: .8em;
}
.divLink{
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    color: white;
    height: 3vh;
    min-height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease;
}
.link{
    text-decoration: none;
    color: white;
}
.divLink:hover{
    border: 1px solid rgba(255,255,255,.2);
    background-color: rgba(255,255,255,.1);
    cursor: pointer;
}
.divLink:active{
    background-color: rgb(123, 12, 12);
}
@media screen and (min-width: 800px) {
    .home{
        top: 0;
        left: 0;
        height: 100%;
    }
    .homeContainer{
        width: 500px;
        position: absolute;
        left: 2vw;
    }
    .homeTitle{
        font-size: 2rem;
    }
    .divLink{
        padding: 2vh 0;
    }
}


