@import '../../global.modules.css';


.home{
    position:absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url(../../images/img1.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-left: 1px solid white;
}
.homeContainer{
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    top: 5vh;
    width: 90vw;
    min-height: 90vh;
    left: 5vw;
    color: white;
    padding: 4vw;
    background-color: rgba(0,0,0,.8);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.homeTitle{
    width: 100%;
    top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(10px + 2vmin);

}
.homeText{
    /* position: relative; */
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    font-size: .8em;
}
.in{
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    color: white;
    /* padding: 15px 30px; */
    border-radius: 10px;
    transition: 100ms ease;
}
.in:hover{
    border: 1px solid rgba(255,255,255,.2);
    background-color: rgba(255,255,255,.1);
    cursor: pointer;
}
.in:active{
    background-color: rgb(123, 12, 12);
}

@media screen and (min-width: 800px) {
    .homeContainer{
        width: 500px;
    }
    .homeTitle{
        font-size: 2rem;
    }
    .in{
        padding: 2vh 0;
    }
}


